<div class="hero-unit">
  <h1>Schooleando</h1>
  <p>Busca y compara centros de estudios cerca de tí</p>
  <p><a class="btn btn-primary btn-large">Aprende más</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>Bloque1</h2>
    <p>Contenidos del bloque 1</p>
  </div>
  <div class="span4">
    <h2>Bloque2</h2>
    <p>Contenidos del bloque 2</p>
  </div>
  <div class="span4">
    <h2>Bloque3</h2>
    <p>Contenidos del bloque 3</p>
  </div>
</div>
