<h1>TODO: AQUI VA UN TITULO BASADO EN EL FILTRO</h1>
<%= render partial: 'levels/list', locals: { levels: @levels, filter: @filter, filtered_levels: @filtered_levels } %>
<% #TODO: show all schools from city ordered by name? %>
