<% #TODO: sublevels must be inside their levels %>
<% #TODO: sublevels must link to the list of centers in city with that level %>
<% #TODO: show school phone and address %>
<% #TODO: city name must be a link to city_path %>
<% #TODO: school must have a score based on users ratings %>
<% #TODO: school must have comments and users can comment %>
<dl id="school">
  <dt>Nombre:</dt>
  <dd><%= @school.name %></dd>
  <dt>Ciudad:</dt>
  <dd><%= @school.city.name %></dd>
  <dt>Niveles:</dt>
  <dd>
    <ul>
  <% @school.levels.each do |level| %>
    <li><%= level.name %></li>
  <% end %>
    </ul>
  </dd>
</dl>
