<h1><%= @city.name %></h1>
<% # TODO: render partial to levels, passing filter params %>
<%= render partial: "levels/list", locals: { levels: @levels, filter: @filter, filtered_levels: @filtered_levels } %>
